In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
# Create a Table

cursor.execute('''
CREATE Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text 
    )
''')

connection.commit()

In [5]:
cursor.execute('''
select * from employees
''')

In [6]:
# Insert the data in the table

cursor.execute('''
INSERT Into employees(name, age, department)
                values('DJ', 40, 'hr')
               ''')


cursor.execute('''
INSERT Into employees(name, age, department)
                values('AJ', 41, 'operations')
               ''')


cursor.execute('''
INSERT Into employees(name, age, department)
                values('Mark', 28, 'sales')
               ''')

connection.commit()

In [7]:
# Query the data from the sqlite table

cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'DJ', 40, 'hr')
(2, 'AJ', 41, 'operations')
(3, 'Mark', 28, 'sales')

In [8]:
# Update the data in the table

cursor.execute('''
    UPDATE employees
    Set age = 35
    where name="DJ"
''')

connection.commit()

In [10]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'DJ', 35, 'hr')
(2, 'AJ', 41, 'operations')
(3, 'Mark', 28, 'sales')

In [11]:
# Delete the data from the table

cursor.execute('''
Delete from employees
        where name="Mark"
               ''')

connection.commit()

In [12]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'DJ', 35, 'hr')
(2, 'AJ', 41, 'operations')

### Example 2

In [14]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id integer primary key,
    date text not null,
    product text not null,
    sales integer,
    region text
    )               
''')

sales_data = [
    ('2024-01-01', 'product1', 100, 'north'),
    ('2024-01-02', 'product4', 1200, 'east'),
    ('2024-01-03', 'product2', 300, 'north'),
    ('2024-01-04', 'product4', 1200, 'west'),
    ('2024-01-05', 'product3', 1900, 'south'),
    ('2024-01-06', 'product1', 1000, 'north')
]

cursor.executemany('''
insert into sales(date, product, sales, region)
                values(?, ?, ?, ?)
                   ''', sales_data)

connection.commit()

In [15]:
cursor.execute('select * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2024-01-01', 'product1', 100, 'north')
(2, '2024-01-02', 'product4', 1200, 'east')
(3, '2024-01-03', 'product2', 300, 'north')
(4, '2024-01-04', 'product4', 1200, 'west')
(5, '2024-01-05', 'product3', 1900, 'south')
(6, '2024-01-06', 'product1', 1000, 'north')

In [16]:
connection.close()